## Tugas1

In [2]:
### data integration
import pandas as pd
import numpy as np

In [6]:
data1=pd.read_csv("test_2v.csv")
data2=pd.read_csv("test_2v_2.csv")
data1

          id  gender   age  hypertension  heart_disease ever_married
0      36306    Male  80.0             0              0          Yes
1      61829  Female  74.0             0              1          Yes
2      14152  Female  14.0             0              0           No
3      12997    Male  28.0             0              0           No
4      40801  Female  63.0             0              0          Yes
5       9348  Female  66.0             1              0          Yes
6      51550  Female  49.0             0              0          Yes
7      60512    Male  46.0             0              0          Yes
8      31309  Female  75.0             0              0          Yes
9      39199    Male  75.0             0              0          Yes
10     15160  Female  17.0             0              0           No
11     21705  Female  10.0             0              0           No
12     19042  Female  47.0             0              0          Yes
13     12249  Female  42.0             0              0          Yes
14     33104  Female  67.0             0              0          Yes
15     55264  Female  52.0             0              0           No
16     29445    Male  73.0             0              0          Yes
17     49013  Female  19.0             0              0           No
18       276    Male  15.0             0              0           No
19     47721  Female  37.0             0              0          Yes
20     19656    Male  59.0             1              0          Yes
21     35806    Male  45.0             0              0          Yes
22     70637  Female  44.0             0              0          Yes
23     62010  Female  13.0             0              0           No
24     67576  Female  82.0             0              0          Yes
25     31774    Male  66.0             1              1          Yes
26     43822    Male  42.0             0              0          Yes
27     27445  Female  47.0             0              0          Yes
28     35817    Male  57.0             0              0          Yes
29     26363    Male  75.0             0              0          Yes
...      ...     ...   ...           ...            ...          ...
18571  30015    Male  76.0             0              0          Yes
18572  24761  Female  29.0             0              0           No
18573  27094  Female  16.0             0              0           No
18574  43495  Female   2.0             0              0           No
18575  56348  Female  51.0             0              0          Yes
18576  11876  Female  24.0             0              0           No
18577    585    Male  45.0             0              0          Yes
18578  43879    Male  23.0             0              0           No
18579  38239  Female  24.0             0              0           No
18580  28943    Male   2.0             0              0           No
18581  17895  Female  22.0             0              0           No
18582  35147    Male  69.0             0              1          Yes
18583  72758  Female  39.0             0              0           No
18584  28661  Female   9.0             0              0           No
18585  46853  Female  21.0             0              0           No
18586  69190    Male  25.0             0              0           No
18587  26705    Male  79.0             0              1           No
18588  36976  Female  82.0             1              0          Yes
18589  58578    Male  24.0             0              0           No
18590  61508  Female  52.0             0              0          Yes
18591  70296  Female  13.0             0              0           No
18592  35299    Male  11.0             0              0           No
18593  15023    Male  80.0             0              0          Yes
18594  56291    Male  40.0             1              0          Yes
18595  53431    Male   5.0             0              0           No
18596  67353    Male  20.0             0              0           No
18597    362    Male  61.0             0              0          Yes
18598  29839  Female  79.0             0              0          Yes
18599   6438    Male  55.0             0              0          Yes
18600  16770  Female  38.0             0              0           No

[18601 rows x 6 columns]

In [7]:
data_complate=pd.merge(data1,data2,on='id')
data_complate.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,36306,Male,80.0,0,0,Yes,Private,Urban,83.84,21.1,formerly smoked
1,61829,Female,74.0,0,1,Yes,Self-employed,Rural,179.50,26.0,formerly smoked
2,14152,Female,14.0,0,0,No,children,Rural,95.16,21.2,NaN
3,12997,Male,28.0,0,0,No,Private,Urban,94.76,23.4,NaN
4,40801,Female,63.0,0,0,Yes,Govt_job,Rural,83.57,27.6,never smoked

Data source:https://www.kaggle.com/asaumya/healthcare-data